<div class="sidebar">
  <div class="top-icons">
    <div class="icon">
      <span class="material-symbols-outlined">home</span>
    </div>
    <div class="icon active">
      <span class="material-symbols-outlined">bar_chart</span>
    </div>
    <div class="icon">
      <span class="material-symbols-outlined">layers</span>
    </div>
    <div class="icon">
      <span class="material-symbols-outlined">switch_access_shortcut</span>
    </div>
    <div class="icon">
      <span class="material-symbols-outlined">pie_chart</span>
    </div>
    <div class="icon"><span class="material-symbols-outlined">group</span></div>
  </div>

  <div class="bottom-icons">
    <div class="icon">
      <span class="material-symbols-outlined">support_agent</span>
    </div>
    <div class="icon">
      <span class="material-symbols-outlined">settings</span>
    </div>
    <div class="profile">
      <img
        src="https://randomuser.me/api/portraits/women/44.jpg"
        alt="User Profile"
      />
    </div>
  </div>
</div>
